<div ng-controller="AppCtrl" class="right-sidenav" id='edit-project'>

      <md-toolbar class="right-sidenav-top">
        <div class="esc" ng-click="untoggle()">
          <div class="esc-icon">
            <i class="icons8-delete-2"></i>
          </div>
          <div class="esc-word">esc</div>
        </div>
        <h1>Type a new title for your project</h1>
      </md-toolbar>
      <md-content layout-padding="" >
        <form name="editProjectForm">
          <md-input-container md-no-float class="md-block">
          <input required minlength="1" type="text" name="newProjectTitle" class="title-input" ng-model="newProjectTitle" id="project-name-input" placeholder="{{currentProject.title}}">
          <div ng-messages="editProjectForm.newProjectTitle.$error" role="alert">
          <div class="red-allert" ng-message-exp="['required', 'minlength']">
            Your title must be at least 1 character long.
          </div>
        </div>
        </md-input-container>
        </form>
        <md-button ng-click="editProject(newProjectTitle)" class="md-fab confirm-button md-primary" aria-label="confirm">
              <i class="icons8-checkmark"></i>
        </md-button>
      </md-content>

  </div>