<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task Manager</title>
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/styles.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="TaskManagerApp" layout="row" ng-cloak>

	<!-- Begin Side-Bar -->
   <md-sidenav layout="column" class="sidenav1" md-is-locked-open='true'>
   <!-- Begin User Profile -->
  		<div class='user-profile'>
  			<user-profile name="Trevor Reyes" "></user-profile>
  		</div>
  	<!-- End User Profile -->

  	<!-- Begin Project List -->
	<md-list ng-controller="ProjectListCtrl" ng-cloak="" class="project-list">
		<!-- Begin Add Project -->
		<md-list-item id="add-project">
		    <p> Projects </p>
		    <md-button class="md-icon-button" aria-label="addProject">
        	<i class="icons8-plus"></i>
      		</md-button>
		</md-list-item>
		<!-- End Add Project -->
		<!-- Begin Projects -->
		<md-list-item ng-repeat="project in projects">
		    <p> {{ project.name }} </p>
		    <span >{{ project.tasksQuantity }} </span>
		</md-list-item>
		<!-- End Projects -->
	</md-list>
  	<!-- End Project List -->
	<!-- Begin Log Out -->
	<div class="log-out"><a href="#">Log Out</a></div>
  	<!-- End Log Out -->
   </md-sidenav>
  <!-- End Side-Bar -->

  <!-- Begin Content -->
  <md-content flex layout="column">
    <ng-view>
      <!-- Begin Toolbar -->
      <md-toolbar>
      <div class="md-toolbar-tools">
      <!-- Begin Searchbar -->
      <search-bar>
        <md-button ng-click='activateSearch()' class="md-icon-button" id="search-button" aria-label="Search" >
          <i class="icons8-search"></i>
        </md-button>
        <div class="search-container">
        	<input id="search-bar" class="search-bar" type="text">
        </div>
        </search-bar>
        <!-- End Searchbar -->
        <span flex=""></span>
		<!-- Begin add-task-button -->
        <md-button class="md-icon-button" id="add-task-button" aria-label="Add Task">
          <i class="icons8-more"></i>
        </md-button>
        <!-- End add-task-button -->
      </div>
    </md-toolbar>
      <!-- End Toolbar -->

      <!-- Begin TaskList -->
      <task-list></task-list>
      <!-- End TaskList -->
    </ng-view>
  </md-content>
  <!-- End Content -->
	<script type="text/javascript" src="js/libs.min.js" ></script>
	<script type="text/javascript" src="js/main.js" ></script>
	<!-- User Profile Template -->
	<script type="text/ng-template" id="userProfile.tmpl.html">
	<md-card>
  <md-card-title>
      <div class="md-media-sm user-card-image " layout >
        <i class="icons8-user user-image"></i>
      </div>
    <md-card-user-name>
      {{name}}
    </md-card-user-name>
  </md-card-title>
</md-card>
</script>
<!-- Task List Template -->
<script type="text/ng-template" id="taskList.html">
		<div layout="column" layout-align="center center" ng-controller="TaskListCtrl" ng-cloak="" class="task-list-container" layout="column" layout-align="space-between none" >

			<div class='tasks-for-a-day' ng-repeat="day in finalTaskList" >
				<h4>({{day.date}})</h4>
				<md-card class="day-card" >
				<md-list ng-cloak="" class="task-list">
					<md-list-item ng-repeat="task in day.tasks">
				    <div class="task-text">
				     {{ task }}
				    </div>
				    <md-divider ng-if="!$last"></md-divider> 
					</md-list-item>
				</md-list>

				</md-card>

			</div>
			<md-button class="md-fab add-task md-primary" aria-label="Add Task" >
            	<i class="icons8-plus"></i>
        	</md-button>
		</div>
</script>


</body>
</html>