<div ng-controller="AppCtrl" class="right-sidenav" id='create-task'>

      <md-toolbar class="right-sidenav-top">
        <div class="esc" ng-click="untoggle()">
          <div class="esc-icon">
            <i class="icons8-delete-2"></i>
          </div>
          <div class="esc-word">esc</div>
        </div>
        <h1>Create new task</h1>
      </md-toolbar>
      <md-content layout-padding="" >
        <form name="taskForm">
        <md-input-container md-no-float class="md-block">
          <input required minlength="1" type="text" name="taskTitle" class="title-input" ng-model="newTask.title" id="task-name-input" placeholder="Task name"/>
          <div role="alert">
          <div class="red-allert" ng-class="{ 'fade-out': fadeOut, 'hidden': hidden}">
            Your title must be at least 1 character long.
          </div>
        </div>
        </md-input-container>
        <md-input-container md-no-float class="md-block">
          <input ng-model="newTask.description" id="task-description-input" placeholder="Description">
        </md-input-container>
        </form>
        <md-button ng-click="createTask(newTask)" class="md-fab confirm-button md-primary" aria-label="confirm">
              <i class="icons8-checkmark"></i>
        </md-button>
      </md-content>

  </div>